
.chart-div{
  width: 750px;
  height: 300px;
  margin: 0 auto;

}

path {
fill: none;
stroke: black;
}
.line{
  stroke-width: 3px;
  stroke: #00008b;
}
.axis-label{
  font-size: .75em;
}
.bar-colour{
  fill: green;
}