:root {
  --main-colour: #3e517a;
  --min-colour: #76bed0;
  --max-colour: #c60610;
  --mix-colour: #DB2B39;
}
.chart-div {
  width: 750px;
  height: 300px;
  margin: 0 auto;
}

path {
  fill: none;
  stroke: black;
}

.line {
  stroke-width: 3px;
  stroke: var(--main-colour);
}
.min-line {
  stroke-width: 3px;
  stroke: var(--min-colour);
}
.max-line {
  stroke-width: 3px;
  stroke: var(--max-colour);
}
.line-mix {
  stroke-width: 3px;
  stroke: var(--mix-colour);
}
.axis-label {
  font-size: 0.5em;
}

.bar-colour {
  fill: var(--main-colour);
}
.radio-button {
  margin-right: 1em;
}
