:root {
  --main-colour: #3e517a;
  --min-colour: #76bed0;
  --max-colour: #c60610;
  --mix-colour: #db2b39;
  --background-secondary: #fffcf2;
}
.chart-div {
  width: 750px;
  height: 300px;
  margin: 0 auto;
}

path {
  fill: none;
  stroke: black;
}

.line {
  stroke-width: 3px;
  stroke: var(--main-colour);
}
.min-line {
  stroke-width: 3px;
  stroke: var(--min-colour);
}
.max-line {
  stroke-width: 3px;
  stroke: var(--max-colour);
}
.line-mix {
  stroke-width: 3px;
  stroke: var(--mix-colour);
}
.axis-label {
  font-size: 0.5em;
}

.bar-colour {
  fill: var(--main-colour);
}
.bar-extra {
  fill: var(--min-colour);
}
.radio-button {
  margin-right: 1em;
}
.tooltip {
  border: 1px solid var(--main-colour);
  background: var(--background-secondary);
  padding: 0.3em;
}
rect {
  stroke-width: 4px;
  opacity: 0.7;
  stroke: white;
}
rect:hover {
  opacity: 1;
  cursor: pointer;
}

.focus circle {
  fill: steelblue;
}

.focus text {
  font-size: 14px;
}
/* 
.tooltip {
  fill: white;
  stroke: #000;
} */

.tooltip-date {
  font-weight: bold;
}
