@import url("./reset.css");

:root {
  --background-colour: #3e517a;
  --backgroud-secondary: #fffcf2;

  --primary-colour: #050505;
  --secondary-colour: #fffcf2;

  --highlight-colour: #f9c784;
  --background-secondary-hover: #fff5d6;

  --input-colour: #3e517a;
  --input-colour-hoover: #f9c784;

  --hover-colour: #050505;
  --active-colour: #75abdd;
}


body {
  font-size: 1.6em;
  color: var(--primary-colour);
  padding: 0.25em;
  background: var(--backgroud-secondary);
}
.App {
  width: 800px;
  height: 480px;
  border: 1px solid var(--primary-colour);
  background: var(--secondary-colour);
  color: var(--primary-colour);
  margin: 0 auto;
}
.border {
  border: 1px solid black;
}
img {
  max-width: 100%;
}
input {
  font-size: 0.8em;
  border: 1px solid black;
  background: var(--secondary-colour);
}
.capitlize {
  text-transform: capitalize;
}
.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.dashboard-header {
  display: flex;
  justify-content: space-between;
  padding: 0.1em 0.5em;
}
.gauge-header {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.3em;
  margin-top: 0.5em;
}
.header {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 700;
}
.hidden {
  display: none;
}
.view {
  padding: 0.25em;
}
/* NAV BAR */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0.4em;
  font-size: 0.9em;
  background: var(--background-colour);
  color: var(--backgroud-secondary);
  height: 60px;
}
.nav-icon-div {
  flex: 1;
}
.nav-icon {
  padding: 0.5em;
}
.header-item {
  text-decoration: none;
  font-size: 1.2em;
  color: var(--secondary-colour);
  border-bottom: 5px solid var(--background-colour);
  padding: 0.5em;
}
.header-item:hover {
  color: var(--highlight-colour);
  border-bottom: 5px solid var(--highlight-colour);
}
.nav-menu-inner {
  background: var(--background-colour);
  display: flex;
  margin-top: 0.1em;
  flex-direction: column;
  padding-bottom: 0.5em;
  z-index: 1;
  position: relative;
  min-width: 110px;
}
.nav-menu-item {
  font-size: 1.1em;
  color: var(--background-colour);
  color: var(--secondary-colour);
  text-decoration: none;
  padding: 0.25em;
  border-left: 5px solid transparent;
}
.nav-menu-item:hover {
  color: var(--highlight-colour);
  border-left: 5px solid var(--highlight-colour);
}

/* SITE */

.site {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}
.site-header {
  font-size: 1.15em;
  font-weight: 700;
  grid-column: 1/5;
  text-align: center;
  font-weight: 700;
  text-decoration: underline;
}
.site-sensor-header {
  text-align: center;
  font-size: 1em;
  grid-row: 1/2;
  grid-column: 1/3;
  padding: 0.1em;
}
.site-item {
  padding: 0.25em;
}
.site-label {
  grid-row: 3/4;
  padding-bottom: 0.1em;
  font-size: 0.8em;
}
.site-reading-value {
  padding-top: 0.25em;
}
.column-1 {
  grid-column: 1/2;
}
.column-2 {
  grid-column: 2/3;
}
.site-temperature {
  display: grid;
  grid-column: 1/3;
  grid-row: 2/5;
  text-align: center;
}
.site-humidily {
  display: grid;
  grid-column: 1/3;
  grid-row: 5/7;
  text-align: center;
}
.site-wind {
  text-align: center;
  grid-column: 3/5;
  grid-row: 2/6;
  margin: 0 auto;
}
.site-rain {
  text-align: center;
  grid-column: 3/4;
  grid-row: 6/7;
}
.site-pressure {
  text-align: center;
  grid-column: 4/5;
  grid-row: 6/7;
}
.site-humidily-gauge {
  margin: 0 auto;
}


/* Inside Dashboard */

.inside-humidily{
  grid-column: 3/5;
  grid-row: 2/4;
  text-align: center;
}
.inside-air-quality{
  grid-row: 5/6;
  grid-column: 1/5;
  text-align: center;
  display: grid;
}

/* Outside Display */

.outside-humidily{
  grid-column: 1/2;
  grid-row:  5/6;
}
.outside-sky-colour{
  grid-column: 4/5;
    grid-row:  5/6;
}
.site-rain {
  text-align: center;
  grid-column: 2/4;
  grid-row: 5/6;
}

/* TEMPERATURE  */

.Temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-colour);
}
.thermometer {
  height: 175px;
}
.thermometer-div {
  position: relative;
}
.thermometer-text {
  position: absolute;
  left: 30px;
  font-size: 1em;
  font-weight: 700;
}
.thermometer-labels {
  position: absolute;
  top: 60%;
  left: -9px;
  color: gray;
  font-size: 0.8em;
}
.thermometer-labels-hight {
  position: absolute;
  top: 5%;
  left: -20px;
  color: gray;
  font-size: 0.8em;
}
.thermometer-high {
  position: absolute;
  left: -37px;
}
.thermometer-low {
  position: absolute;
  left: -37px;
}

/* WIND  */
.wind-div {
  position: relative;
  margin: 0 auto;
}

.wind-speed-gauge {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wind-arrow {
  position: absolute;
  width: 15px;
  height: 95%;
  left: 47%;
  top:3%
}
.wind-arrow-top {
  background: #E55812;
  width: 100%;
  height: 38%;
}

/* Humidity */
.humidity-div {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 98%;
  justify-content: space-between;
}
.humidity-gauge {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
}
.humidity-img {
  width: 100%;
  height: 100%;
}
.humidity-text{
  text-align: center;
}
.Pressure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Rain Fall */
.rain-div {
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto repeat(4, 25px) auto;
  grid-column-gap: .25em;
  margin: 0.5em auto;
}
.rain-gauge-header {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
}
.rain-text {
  display: flex;
  flex-direction: column;
}
.rain-text-top {
  grid-column: 2/3;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 0.7em;
}
.rain-text-middle {
  grid-column: 2/3;
  grid-row: 3/4;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 0.7em;
}
.rain-text-bottom {
  grid-column: 2/3;
  grid-row: 5/6;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 0.7em;
}
.rain-label {
  text-align: center;
  font-size: 0.9em;
  padding-top: 0.5em;
  grid-column: 1/3;
}
.rain-gauge {
  width: 100px;
  height: 100px;
  grid-row: 2/6;
}
.rain-img {
  width: 100%;
  height: 100%;
}
/*  Air Quaitly */

.air-quality-icon {
  border: 3px solid black;
  /* background: rgba(0, 128, 0, 0.4); */
  width: 200px;
  margin: 0.2em auto;
  padding: 0.2em;
  border-radius: .4em;
}
/* config */
.config-body {
  display: flex;
  flex-direction: column;
  height: 98.5%;
}
.config-list {
  display: grid;
  grid-template-columns: 150px 200px 150px 150px 90px;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.config {
  padding: 0 0.25em;
  height: 84%;
}
.config-icon {
  width: 30px;
  height: 30px;
}
.config-button {
  font-size: 0.9em;
  border: 1px solid var(--background-colour);
  padding: 0.2em 0.5em;
  color: var(--backgroud-secondary);
  background: var(--input-colour);
  border-radius: 0.25em;
}
.config-button:hover {
  color: var(--input-colour-hoover);
}
.config-button-cancel {
  background: var(--backgroud-secondary);
  color: var(--background-colour);
}
.config-button-cancel:hover {
  background: var(--background-secondary-hover);
  color: var(--background-colour);
}
.config-link {
  color: var(--primary-colour);
  text-decoration: none;
  padding: 0.25em 0.5em;
  font-size: 0.9em;
}
.link-div {
  margin: 0.75em 0;
}
.config-deivce-bottom {
  display: grid;
  grid-template-columns: auto 150px 150px;
  grid-gap: 0.25em;
  justify-self: flex-end;
}
.config-header {
  grid-column: 1/4;
  text-align: center;
  margin-bottom: 0.15em;
}
.config-main {
  flex: 1;
}
.config-sensor-header {
  grid-column: 1/7;
  text-align: center;
}
.config-form {
  display: grid;
  grid-template-columns: 175px auto auto;
  grid-gap: 0.25em;
}
.config-form-sensor {
  display: grid;
  grid-template-columns: 175px 100px 170px 100px auto auto;
  grid-gap: 0.25em;
}
.config-label {
  grid-column: 1/2;
}
.config-field {
  grid-column: 2/4;
}
.config-div {
  grid-column: 1/5;
}
.config-checked {
  height: 25px;
  width: 25px;
}
.config-cancel {
  grid-column: 2/3;
}
.config-submit {
  grid-column: 3/4;
}
.config-min {
  grid-column: 2/3;
}
.config-max {
  grid-column: 4/5;
}
.config-unit {
  grid-column: 6/7;
  width: 50px;
}
.config-label-max {
  grid-column: 3/4;
  margin-left: 0.5em;
}
.config-label-unit {
  grid-column: 5/6;
  margin-left: 0.5em;
}
.config-field-sensor {
  grid-column: 2/7;
}
.config-submit-sensor-button {
  grid-column: 5/7;
  font-size: 0.8em;
  border: 1px solid black;
  background: transparent;
}
.config-sensor-button {
  grid-column: 3/5;
  font-size: 0.8em;
  border: 1px solid black;
  background: transparent;
}
.config-sensor-button:hover,
.config-submit-sensor-button:hover {
  background: var(--input-colour);
}
.config-select {
  font-size: 0.8em;
}
.edit-list {
  display: grid;
  grid-template-columns: 250px auto 100px;
  grid-gap: 0.25px;
  margin: 0.25em 0;
}
.edit-list-header {
  font-weight: 700;
  font-size: 0.9em;
}
.edit-div {
  height: 325px;
  overflow: hidden;
}
.edit-list-button {
  height: 30px;
}
.list-scoll {
  height: 325px;
  overflow-y: auto;
}
.config-edit {
  display: grid;
  grid-template-columns: 200px auto;
  margin-bottom: 0.25em;
}
.config-buttons {
  display: flex;
  justify-content: flex-end;
}
.form-column {
  grid-column: 1/4;
}

/* SHOW */
.show-header {
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
  grid-column: 1/4;
}
.show-grid {
  display: grid;
  grid-template-columns: 250px 200px auto;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.show-grid-sensor {
  display: grid;
  grid-template-columns: 250px 200px auto auto;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.show-grid-sensor-inner {
  display: grid;
  grid-template-columns: 230px 165px 250px auto;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.show-header-table {
  font-weight: 600;
  font-size: 1em;
}
.tab-buttons-div {
  display: flex;
  border-top: 1px solid var(--background-colour);
  border-bottom: 1px solid var(--background-colour);
  margin: 0.25em 0;
}
.tab-button {
  font-size: 0.8em;
  padding: 0.1em 0.5em;
  border: none;
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  background: transparent;
}
.tab-button:hover {
  cursor: pointer;
  border-bottom: 5px solid var(--background-colour);
}
.active-tab {
  background: var(--background-colour);
  color: var(--backgroud-secondary);
}
.show-div {
  height: 275px;
  overflow: hidden;
}
.show-detail-div {
  max-height: 100%;

  overflow-y: auto;
}
.show-node-check {
  width: 22px;
  height: 22px;
}
.show-check {
  width: 22px;
  height: 22px;
  margin: 0px auto;
}
.index-view {
  padding: 0.25em;
}
/* Warning */
.warning {
  border: 2px solid red;
}
.button-edit {
  margin-left: 0.25em;
}
.message-div {
  position: absolute;
  top: 10%;
  left: 25%;
  z-index: 10;
  border: 1px solid black;
  background: var(--backgroud-secondary);
  padding: 0.5em;
  display: grid;
  grid-template-columns: 250px 100px 100px;
  grid-gap: 10px;
}
.message-text {
  grid-column: 1/4;
}
.message-button1 {
  grid-row: 2/3;
  grid-column: 2/3;
}
.message-button2 {
  grid-row: 2/3;
  grid-column: 3/4;
}
