@import url("./reset.css");

:root {
  --primary-colour: #050505;
  --secondary-colour: #c9daea;
  --hover-colour: #050505;
  --input-colour: #acc4da;
  --input-colour-hoover: #9fbdda;
  --active-colour: #75abdd;
}
body {
  font-size: 2em;
  color: var(--primary-colour);
  padding: 0.25em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0.5em 0;
  margin-bottom: 0.4em;
  font-size: 0.9em;
  border-bottom: 1px solid #050505;
}
img {
  max-width: 100%;
}
input {
  font-size: 0.8em;
  border: 1px solid black;
  background: var(--input-colour);
}
.App {
  width: 800px;
  height: 480px;
  border: 1px solid var(--primary-colour);
  background: var(--secondary-colour);
}
.capitlize {
  text-transform: capitalize;
}
.dashboard {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: stretch;
}
.gauge-header {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 0.3em;
}
.header {
  text-transform: capitalize;
  font-size: 1.2em;
  font-weight: 700;
}
.hidden {
  display: none;
}
.view {
  padding: 0.25em;
}
/* TEMPERATURE  */
.Temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temperature-label {
  text-align: center;
}
.temperature-div {
  display: grid;
  grid-template-columns: auto auto;
}
.temperature-thermometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temperature-range {
  font-size: 0.8em;
  text-align: center;
}
/* WIND  */
.wind-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wind-header {
  margin-bottom: 0.5em;
  background: transparent;
}
.wind-linear {
  margin-left: 1em;
}
.wind-thermometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.wind-group {
  display: flex;
}

/* Humidity */
.humidity-div {
  display: flex;
  flex-direction: column;
  padding: 0;
  height: 98%;
  justify-content: space-between;
}
.humidity-gauge {
  margin: 0.5em auto;
  width: 200px;
  height: 200px;
}
.humidity-img {
  width: 100%;
  height: 100%;
}
.humidity-text {
  margin-top: 0.5em;
}
.Pressure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Rain Fall */
.rain-div {
  display: grid;
  grid-template-columns: auto 80px;
  grid-template-rows: auto repeat(4, 25px) auto;
  margin: 0.4em auto;
}
.rain-gauge-header {
  margin: 0 auto;
  text-align: center;
  text-transform: capitalize;
}
.rain-text {
  display: flex;
  flex-direction: column;
}
.rain-text-top {
  grid-column: 2/3;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 0.7em;
}
.rain-text-middle {
  grid-column: 2/3;
  grid-row: 3/4;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 0.7em;
}
.rain-text-bottom {
  grid-column: 2/3;
  grid-row: 5/6;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: 0.7em;
}
.rain-label {
  text-align: center;
  font-size: 0.9em;
  padding-top: 0.5em;
  grid-column: 1/3;
}
.rain-gauge {
  width: 100px;
  height: 100px;
  grid-row: 2/6;
}
.rain-img {
  width: 100%;
  height: 100%;
}
/* config */
.config-body {
  display: flex;
  flex-direction: column;
  height: 98.5%;
}
.config-list {
  display: grid;
  grid-template-columns: 150px 275px 175px 150px;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.config {
  padding: 0 0.25em;
  height: 84%;
}
.config-icon {
  width: 30px;
  height: 30px;
}
.config-button {
  font-size: 0.8em;
  border: 1px solid black;
  background: var(--input-colour);
}
.config-button:hover {
  background: var(--input-colour-hoover);
}
.config-link {
  color: var(--primary-colour);
  text-decoration: none;
  padding: 0.25em 0.5em;
  font-size: 0.9em;
}
.link-div {
  margin: 0.75em 0;
}
.config-deivce-bottom {
  display: grid;
  grid-template-columns: auto 150px 150px;
  grid-gap: 0.25em;
  justify-self: flex-end;
}
.config-header {
  grid-column: 1/4;
  text-align: center;
  margin-bottom: 0.15em;
}
.config-main{
  flex: 1;
}
.config-sensor-header {
  grid-column: 1/7;
  text-align: center;
}
.config-form {
  display: grid;
  grid-template-columns: 175px auto auto;
  grid-gap: 0.25em;
}
.config-form-sensor {
  display: grid;
  grid-template-columns: 175px 100px 170px 100px auto auto;
  grid-gap: 0.25em;
}
.config-label {
  grid-column: 1/2;
}
.config-field {
  grid-column: 2/4;
}
.config-div {
  grid-column: 1/5;
}
.config-checked {
  height: 25px;
  width: 25px;
}

.config-cancel {
  grid-column: 2/3;
}
.config-submit {
  grid-column: 3/4;
}
.config-min {
  grid-column: 2/3;
}
.config-max {
  grid-column: 4/5;
}
.config-unit {
  grid-column: 6/7;
  width: 50px;
}
.config-label-max {
  grid-column: 3/4;
  margin-left: 0.5em;
}
.config-label-unit {
  grid-column: 5/6;
  margin-left: 0.5em;
}
.config-field-sensor {
  grid-column: 2/7;
}
.config-submit-sensor-button {
  grid-column: 5/7;
  font-size: 0.8em;
  border: 1px solid black;
  background: transparent;
}
.config-sensor-button {
  grid-column: 3/5;
  font-size: 0.8em;
  border: 1px solid black;
  background: transparent;
}
.config-sensor-button:hover,
.config-submit-sensor-button:hover {
  background: var(--input-colour);
}
.edit-list {
  display: grid;
  grid-template-columns: 250px auto 100px;
  grid-gap: 0.25px;
  margin: 0.25em 0;
}
.edit-list-header {
  font-weight: 700;
  font-size: 0.9em;
}
.edit-div {
  height: 325px;
  overflow: hidden;
}
.edit-list-button {
  height: 30px;
}
.list-scoll {
  height: 325px;
  overflow-y: auto;
}
.config-edit {
  display: grid;
  grid-template-columns: 200px auto;
  margin-bottom: 0.25em;
}
.config-buttons {
  display: flex;
  justify-content: flex-end;
}
.form-column {
  grid-column: 1/4;
}

/* SHOW */
.show-header {
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
  grid-column: 1/4;
}
.show-grid {
  display: grid;
  grid-template-columns: 250px 200px auto;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.show-grid-sensor {
  display: grid;
  grid-template-columns: 250px 200px auto auto;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.show-grid-sensor-inner {
  display: grid;
  grid-template-columns: 230px 165px 250px auto;
  grid-gap: 0.25em;
  margin: 0.25em 0;
}
.show-header-table {
  font-weight: 600;
  font-size: 1em;
}
.tab-buttons {
  display: flex;
}
.tab-button {
  margin: 0.25em;
  padding: 0.1em 0.5em;
}
.active-tab {
  background: var(--active-colour);
}
.show-div {
  height: 239px;
  overflow: hidden;
}
.show-detail-div {
  max-height: 250px;
  overflow-y: auto;
}
.show-node-check {
  width: 22px;
  height: 22px;
  /* margin: 0px auto; */
}
.show-check {
  width: 22px;
  height: 22px;
  margin: 0px auto;
}
/* Warning */
.warning {
  border: 2px solid red;
}
.button-edit {
  margin-left: 0.25em;
}
.message-div{
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 10;
  border: 1px solid black;
  background: ghostwhite;
  padding: .5em;
  display: grid;
  grid-template-columns: 250px 100px 100px;
  grid-gap: 10px;
}
.message-text{
  grid-column: 1/4;
}
.message-button1{
  grid-row: 2/3;
  grid-column: 2/3;
}
.message-button2{
  grid-row: 2/3;
  grid-column: 3/4;
}