@import url("./reset.css");


/* TEMPERATURE  */
.Temperature {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.temperature-label {
  text-align: center;
}
.temperature-div {
  display: grid;
  grid-template-columns: auto auto;
}
.temperature-thermometer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temperature-range {
  font-size: 0.8em;
  text-align: center;
}